.container {
  text-align: center;
  margin: 2rem 2rem;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 25rem;
  height: 28rem;
  border: 2px solid #030303;
  padding: 1rem 1rem;
  margin: 1.5rem 0;
}

.card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card img {
  width: 25rem;
  height: 10rem;
  object-fit: scale-down;
}
