.container {
  text-align: center;
  margin: 2rem 2rem;
}

.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 3rem;
}

.card {
  border: 2px solid #030303;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.card p {
  text-align: center;
  padding: 0 1rem;
}
